.launch-button-container {
  width: 20em;
  display: flex;
  flex-direction: column;
}

.launch-button {
  width: 100%;

  font-weight: 900;
  text-align: center;
  font-size: 3em;
  border-radius: 10%;

  background-color: #c00;
  color: #200;
  cursor: pointer;

  border: 1.5px solid #400;
  box-shadow: 0 4px #333;
  transform: rotateX(25deg);
}

.launch-button:active {
  background-color: #400;
  color: #000;

  box-shadow: none;
  transform: translateY(4px) rotateX(25deg);
}

.time-to-impact {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}
